[ignore: themes/**/templates/includes/minify_css.html]

[jinja2: themes/localized_elegance/templates/**.html]
encoding = utf-8
silent = false

[javascript: themes/localized_elegance/static/**.js]
encoding = utf-8
silent = false

[python: *.py]
encoding = utf-8
silent = false
