{% extends 'base.html' %}

{% block title %}{{ gettext("Tag cloud") }} {{ super() }}{% endblock title %}

{% block head_description %}
{{ gettext("%(sitename)s's tag cloud", sitename=SITENAME|striptags|e) }}
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
<meta property="og:title" content="{{ gettext('Tag cloud') }} {{ TITLE_SEPARATOR }} {{ SITENAME|striptags|e }}" />
<meta name="twitter:title" content="{{ gettext('Tag cloud') }} {{ TITLE_SEPARATOR }} {{ SITENAME|striptags|e }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ TAGS_URL }}" />
<meta property="og:description" content="{{ gettext('%(sitename)s\'s tag cloud', sitename=SITENAME|striptags|e) }}" />
<meta name="twitter:description" content="{{ gettext('%(sitename)s\'s tag cloud', sitename=SITENAME|striptags|e) }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block feed_links %}
{{ super() }}
{% include 'includes/feeds_tags.html' %}
{% endblock feed_links %}

{% block content %}
<div class="row-fluid">
<header class="page-header span10 offset2">
<h1>{{ gettext("All tags") }}</h1>
</header>
</div>
<div class="row-fluid">
<div class="span8 offset2">
<form class="form-search">
<input type="text" class="input-medium search-query filterinput" placeholder="{{ gettext('Find a tag...') }}" />
</form>
<ul class="tagcloud">
{% for tag in tag_cloud %}
<li class="tag-{{ tag.1 }}">
<a href="#{{ tag.0.slug }}-ref">{{ tag.0 }} 
{% if TAG_CLOUD_BADGE %}
<span class="badge"> ({{ tag.2 }})</span>
{% endif %}
</a>
</li>
{% endfor %}
</ul>
</div>
</div>
<div class="row-fluid">
<div class="span8 offset2">
<div class="tags-with-articles">
{% for tag, articles in tags|sort %}
<section class="tag-with-articles">
<h2 id="{{ tag.slug }}-ref" class="tag-title">#{{ tag }}</h2>
<ul class="list-articles-under-tag-category">
{% for article in articles|sort(reverse = true, attribute = 'date') %}
<li itemscope>
<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}
{% if article.subtitle %}
– <small class="subtitle">{{ article.subtitle }}</small>
{% endif %}
</a></h3>
<time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date|upper }}</time>
</li>
{% endfor %}
</ul>
</section>
{% endfor %}
</div>
</div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script type="text/javascript">
(function ($) {
// custom css expression for a case-insensitive contains()
jQuery.expr[':'].Contains = function(a, i, m) {
return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
};

function listFilter() {
$('.filterinput').change(function () {
var filter = $(this).val();
if(filter) {
// this finds all links in a list that contain the input,
// and hides the ones not containing the input while showing the ones that do
$('.tagcloud').find("a:not(:Contains(" + filter + "))").parent().hide();
$('.tagcloud').find("a:Contains(" + filter + ")").parent().show();
$('.tags-with-articles').find("h2:not(:Contains(" + filter + "))").parent().hide();
$('.tags-with-articles').find("h2:Contains(" + filter + ")").parent().show();
}
else {
$('.tagcloud').find("li").show();
$('.tags-with-articles').find(".tag-with-articles").show();
}
return false;
}).keyup( function () {
// fire the above change event after every letter
$(this).change();
});
}

// ondomready
$(function () {
listFilter($());
});
}(jQuery));
</script>
{% endblock script %}
